<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProgramaYa!</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <img  class=logo src="../static/img/LOGO ROJO (1).png" alt="">
            <nav>
                <a  href="login.html">Iniciar Sesion</a>
                <a href="#nuestros-programas">Nuestros Programas</a>
                <a href="#caracteristicas">Conctacos</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Quieres destacar y captar la atencion de tu audiencia odjetivo<br>con los Mejores</h1>
        <button><a href="registro.html">REGRISTRATE YA!</a></button>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>Por que trabajar con <span class="color-acento">K93?</span></h2>
                <p>En nuestra empresa,nos destacamos por ofrecer una amplia gama de servicios de alta calidad que abarcan desde 
                    la publicidad impresa y el merchardasing hasta la papeleria comercial,los avisos publicitarios,las dotaciones 
                    empresariales, la decoracion automotriz y la paguina web.Nuestro objetivo es propocionarte soluciones personalizadas 
                    y efectivas que se adapten  atus necesidaes especificas y te ayuden a destacar en el mercado.</p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestros Programas</h2>
            <div class="programas">
                <div class="carta">
                    <h3 >Iniciar Sesion</h3>
                    <br>
                    <p></p>
                    <button><a href="login.html">+ Info</a></button>
                </div>
                <div class="carta">
                    <h3>Catalogo</h3>
                    <br>
                    <p>En nuestra empresa,nos destacamos por ofrecer una amplia gama de servicios de alta calidad que abarcan desde 
                    la publicidad impresa y el merchardasing hasta la papeleria comercial,los avisos publicitarios,las dotaciones 
                    empresariales, la decoracion automotriz y la paguina web.Nuestro objetivo es propocionarte soluciones personalizadas 
                    y efectivas que se adapten  atus necesidaes especificas y te ayuden a destacar en el mercado.</p>
          <a href="../template/Catalago.html"><button>Ir al catalogo</button></a>  
                </div>
                <div class="carta">
                    <h3>Contactos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li> </li>
                <li><a class="a" href="https://api.whatsapp.com/send?phone=573125172970&text=Bienvenidos%20a%20K93,%20Gracias%20por%20contactarnos,%20cuentanos%20en%20que%20podemos%20ayudarte?">WhatsApp</a></li>
                <li><a class="a"  href="https://www.instagram.com/kabod93_publicidad/">Instagram</a></li>
                <li><a class="a"  href="https://www.facebook.com/profile.php?id=100082831077218">Facebook</a></li>
                <li><a class="a"  href="https://www.tiktok.com/@k93.publicidad">TikTok</a></li>
            </ul>
        </div>
    </section>

    <section id="final">
        <h2>Listo para llevar tu empresa a nuevos niveles?</h2>
            <button><a href="registro.html">REGISTRATE YA!</a></button>
    </section>

    <footer>
        <div class="container">
            <p>&copy; K93</p>
        </div>
    </footer>
</body>
</html>