<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <title>registro</title>
</head>
<body>
    <div class="registro-container">
        <div class="registro-form">

            <nav class="navbar">
                <a href="index.html"><img src="../static/img/negro.png" alt="registro" class="registro-icon"></a>
            </nav>

            <h2>REGISTRO</h2>
    <div>
        <form action="../template/php/insertar.php" method="POST" class="registro-form">
    <input type="text" placeholder="usuario" required name="usuario"><br>
    <input type="password" placeholder="contraseña" required name="contraseña"><br>
    <input type="text" placeholder="documento" required name="documento"><br>
    <input type="text" placeholder="nombre" required name="nombre">
    <input type="text" placeholder="apellido" required name="apellido">
        <input type="text" placeholder="id_estado_usuario" required name="id_estado_usuario">
            <input type="text" placeholder="id_roles" required name="id_roles">
    <input type="email" placeholder="gmail" required name="correo">
     <input type="submit" name="registro">


     </style>
  </head>
</body>
</html>