<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            

            <nav class="navbar">
                <a href="index.html"><img src="../static/img/negro.png" alt="usuario" class="user-icon"></a>
            </nav>
                <h2>INICIAR SESIÓN</h2>

    </div>
 <div>
  <form class="login-form" action="../template/php/login.php" method="POST">  

    <label for="usuario">usuario:</label>
    <input type="" name="usuario" id="usuario" required><br><br>
    <label for="contraseña">Contraseña:</label>
    <input type="password" name="contraseña" id="contraseña" required><br><br>
        <button type="submit">Iniciar seción</button>
        <a href="registro.html">registro</a>
    </form>
    </div>

</body>
</html>